---
layout: default
styles: archive.css
---
<section id="cd-timeline" class="cd-container">
{% for post in site.posts  %}
	{% if post.category == 'ml' %}
		<div class="cd-timeline-block" id="{{ post.date | date: '%Y-%m-%d' }}">
			<div class="cd-timeline-img cd-picture">
				<img src="{{ '/icon-picture.svg' | prepend: site.imgrepo }}" alt="Picture">
			</div>
	
			<div class="cd-timeline-content">
				<a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>
				<span class="cd-date">{{ post.date | date: '%Y-%m-%d' }}</span>
			</div>
		</div>
	{% endif %}
{% endfor %}
</section>

<!-- clustrmaps -->
<center><a href="https://clustrmaps.com/site/17hlh" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=YQOABK5MIy09C9gSbSCdAZmNVecM3NFbxPgOFIVt_-s&cl=ffffff"></a></center>
